/*
body {
    margin: 60px auto;
    width: 70%;
    background-color: #f6fafa;
} */

body, html {
      width: 95%;
      height: 95%;
      margin-bottom: 120px;
}

.container {
      width: 95%;
      height: 95%;
      margin: 60px auto;
      text-align: center;
}

.leftpane {
        width: 25%;
        height: 100%;
        float: left;
        background-color: #FFFFFF;
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
        margin: 50px auto;
}

.middlepane {
        width: 50%;
        height: 100%;
        float: left;
        background-color: #FFFFFF;
        border-collapse: collapse;
        text-align: center;
}

.rightpane {
      width: 25%;
      height: 100%;
      position: relative;
      float: right;
      background-color: #FFFFFF;
      border-collapse: collapse;
      text-align: center;
      vertical-align: middle;
}


}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.0em;
    font-family:'Arial','Helvetica', 'Sans-Serif';
}
p {
    font-size: 1.0em;
    line-height: 1.2em;
    font-family:'Arial', 'Helvetica', 'Sans-Serif';
    color: #333;
    text-align: justify;
}
footer {
  line-height: 50px;
  position: fixed;
  background: rgba(28, 32, 36, 1);
  bottom:0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 100px;
  text-align: center;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.posts li {
    list-style: none;
}

@media only screen and (max-width:480px) {
h1 {
    font-size: 14px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 12em;
    line-height: 0.7em;
    color: #333;
}
