---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Since 2021 I am teaching two autumn courses of the second year of the Master in Collective Intelligence at UM6P.

Programming, Data Science and Statistics 3 (PDSS 3)
======

This module covers various scientific computing techniques and is designed to equip the students of the MSc programme in Collective Intelligence with different methods useful in computation, modelling and analysis of complex systems.
<a href="https://github.com/jsegoviamartin/jsegoviamartin.github.io/tree/main/_teaching/PDSS3_SCI_syllabus_jsegovimartin.pdf">PDSS3 Syllabus</a>


Leadership Lab
======



<p><b>Teaching portfolio</b></p>
<p>Here I make public a <a href="https://www.dropbox.com/s/njd2k22cuqgg3dp/Teaching%20portfolio.pdf?dl=0" download="https://www.dropbox.com/s/avk856fkw52qpif/Teaching%20portfolio.pdf?dl=0">teaching portfolio</a> that summarises a coherent set of materials
representing my view of teaching as a scholarly activity, my professional experience
and pedagogical training as well as some examples of course design. </p>

<p><b>Teaching resources</b></p>
<p>This section contains a variety of materials that I have used, developed and adapted for my
seminars on research methods, agent based models and data collection and processing.</p>

<p>Module 1: Research methods using R</p>
<p>Lab 1: <a href="https://jsegoviamartin.github.io/teaching/t-test_simple_linear_regression.html">T-test and Simple linear regression.</a> <a href="https://jsegoviamartin.github.io/teaching/t-test_simple_linear_regression.ipynb" download="https://jsegoviamartin.github.io/teaching/t-test_simple_linear_regression.ipynb">Download ipynb file</a></p>
<p>Lab 2: <a href="https://jsegoviamartin.github.io/teaching/One-way_ANOVA.html">One-way ANOVA.</a> <a href="https://jsegoviamartin.github.io/teaching/One-way_ANOVA.ipynb" download="https://jsegoviamartin.github.io/teaching/One-way_ANOVA.ipynb">Download ipynb file</a></p>
<p>Lab 3: <a href="https://jsegoviamartin.github.io/teaching/Multiple_regression.html">Multiple regression.</a> <a href="https://jsegoviamartin.github.io/teaching/Multiple_regression.ipynb" download="https://jsegoviamartin.github.io/teaching/Multiple_regression.ipynb">Download ipynb file</a></p>

<p>Module 2: Twitter data collection and analysis using R</p>
<p>Lab 4: <a href="https://github.com/jsegoviamartin/Twitter_data_collection_and_analysis_using_R">Data collection and co-ocurrence analysis.</a></p>

<p>Module 3: Agent based models</p>
<p>Lab 5: Building a simple agent based model</p>
<p>Lab 6: Generating data using a cultral evolutionary model. In this lab we will use a version of the model published in Cognitive Science:</p>
<p><a href="https://github.com/jsegoviamartin/Coevolutionary_model_values_institutions">Scripts</a>

<p><b>Other external resources:</b></p>
<p>Research methods</p>
<p><a href="https://arxiv.org/ftp/arxiv/papers/1308/1308.5499.pdf">Linear	models	and	linear	mixed	effects	models	in	R</a>
<p><a href="https://www.andywills.info/rminr/">Research methods	in R</a>
<p>Agent-based modelling</p>
<p><a href="https://github.com/Limor-Raviv/Tutorial_Agent_Based_Models">A Short Tutorial on Agent Based Modeling in Python</a>
<p>Data collection and analysis</p>
<p><a href="https://github.com/digitalmethodsinitiative/dmi-tcat">Digital Methods Initiative Twitter Capture and Analysis Toolset</a>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
