<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
							<li><a href="/publications">Publications</a></li>
	        		<li><a href="/blog">Blog</a></li>
				      <li><a href="/experiments">Experiments</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:j.segoviamartin@ed-alumni.net">email:j.segoviamartin@ed-alumni.net</a></li>
							<li><a href="mailto:jose.segovia@e-campus.uab.cat">email:jose.segovia@e-campus.uab.cat</a></li>
	        		<li><a href="https://github.com/jsegoviamartin">github.com/jsegoviamartin</a></li>
				<li><a href="https://www.researchgate.net/profile/Jose_Segovia_Martin">researchgate.net/Jose_Segovia_Martin</a></li>
				</ul>
			</footer>
		</body>
	</html>
